# Data Science Tools and Ecossystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages data scientists use 
- List commonly used libraries by data scientists 
- Do a one column table with tools data scientists use 
- Do simple aritmetic expressions

Some of the popular languages that Data Scientists use are: 
1. python
2. R 
3. java 
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib / Seaborn
4. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add intergers 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Pedro Vasques